<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ resume.name }} | Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <meta name="description" content="Portfolio of {{ resume.name }}">
    <meta name="theme-color" content="#667eea">
    <link rel="icon" type="image/jpeg" href="{{ url_for('static', filename='images/bb.jpg') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

{% include 'navbar.html' %}


<main>
    {% block content %}{% endblock %}
</main>

{% include 'footer.html' %}

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
